<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:spaceless>
<div class="lit-demo-navigation">
    <div class="sidebar list-group">
        <f:for each="{groups}" as="group">
            <f:be.link
                route="{route}"
                parameters="{group: group}"
                class="list-group-item list-group-item-action {f:if(condition: '{currentGroup} == {group}', then: 'active')}"
            >
                <f:translate key="LLL:EXT:lit_demo/Resources/Private/Language/locallang_mod_component.xlf:group.{group}" />
            </f:be.link>
        </f:for>
    </div>
</div>
</f:spaceless>

</html>
