<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
	<f:asset.module identifier="@ochorocho/lit-demo/component/typo3-surfcamp.js"></f:asset.module>
	<h2>Counter</h2>
	<ld-counter start="0"></ld-counter>

	<h2>Chuck</h2>
	<chuck-norris></chuck-norris>

	<h2>Surfcamp</h2>
	<typo3-surfcamp year="2026"></typo3-surfcamp>

	<h2>Weather data</h2>
	<typo3-weather-data></typo3-weather-data>
</f:section>

</html>
